body {
	margin:0;   
	min-width: 1600px; 
	overflow-x:hidden;
}

html, body{
	overflow-x: hidden;
	width: 100%;
}
#requestFeedback{
	position: absolute;
	width: 40%;
	z-index: 1;
	left:30%;
     top: 10vh;
	background-color: #333131c9;

} 

#requestFeedbackText {
	text-align: center;
	color: #118488;
    font-size: 2vw;
}


 

#header{
	width:100vw;
	height: 40vh;
	overflow: hidden;
	margin:0;
	background-color: #dcd8d7;
}

#HeaderImage {
	object-fit: cover;
	width:100%;
	height: 650px;
	opacity: 0.7;
	resize: both;
	overflow: scroll;

}


#top {
	height: 0px;
	}

#Copyright {
	position: relative;
	background-color: white;
	top: 38.4vh;
	padding-left: 5px;
	z-index: 1;
	opacity: 0.8;
	height: 1.6vh;
	width: 17vw;
	font-size: 1vw
}



/*Entree Field */
#entreeFieldContainer {
	position: relative;
	background-color: #EDEFED;
	width: 100vw;
	height: 40vh;
	overflow: scroll;
}

#howToUse {
	position: absolute;
	display: inline-block;
	background-color: inherit;
	padding-left:2%;
	width: 28%;
	height: 100%;
	font-size: 1.2vw;
}

#howToUse > h4 {
	display: inline-block;
	margin: 20px 0px 0px 0px;
}

#howToUse > p {
	display: inline-block;
}

#DivEntreeField {
	position: relative;
	display: inline-block;
	margin: 0px 0px 0px 0px;
	background-color:inherit;
	left: 36%;
	width: 30%;
	overflow: hidden;
}

#EntreeField {
	margin-top:50px;
	width: 80%;
	border-radius: 10px;
	height: 50px;    
	min-height: 7vh;
    max-height: 18vh;
	overflow: hidden;
	max-width: 80%;
	min-width: 40%;
	overflow-y: scroll;
     resize: vertical;
     font-size: 0.7vw;
}

#EntreeField:focus{
	outline:none;
}


::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}



#ButtonEntreeField {
	border-radius: 5px;
    width: 10vw;
    margin-left: 4%;
    margin-top: 15px;
    background-color: #118488;
    border: solid black 0.5px;
    height: 3vh;
    display: inline-block;
    outline: none;
    color: white;
    font-size: 0.9vw;
}

#ButtonEntreeField:hover {
	background-color: #0e767a;
}


#ButtonEntreeFieldClear{
	border-radius: 5px;
    width: 10vw;
    margin-left: 5%;
    margin-top: 15px;
    background-color: #118488;
    border: solid black 0.5px;
    height: 3vh;
    display: inline-block;
    outline: none;
    color: white;
    font-size: 0.9vw;
}

#ButtonEntreeFieldClear:hover {
	background-color: #0e767a;
}



#buttonsDiv{
	display: inline-block;
	position: absolute;
	left: 70%;
	width: 29%;
	height: 100%;
	background-color: inherit;
}

.popupbuttons {
	height: 60px;
	width: 60px;
	margin-top:50px;
	margin-left:50px;
	position: relative;
	display: block;
	opacity: 0.7;
}

.popupbuttons:hover {
	cursor: pointer;
}

.contactButtons {
	top:20%;
}


.contactMethod {
	display: block;
	height: 50px;
	width: 50px;
	margin-left:10%;
	margin-top:10%;
	cursor: pointer;
}


/* Pop-up Div */
.popupDiv {
	z-index: 2;
	position: absolute;
	top:0%;
	height: 100%;
	width: 69%;
	display: none;
}


#contactDiv {
	left: 35%;
	top:30%;
}


/*Menu Area */
#DivMenuField {
    position: relative;
    display: inline-block;
    height: 100vh;
    width: 18vw;
    margin: 0px 0px 0px 0px;
    float: left;
    overflow: scroll;
    background: linear-gradient(#EDEFED 0%, white 1%);
}

#borderDivMenuField {
    border-right: 1px solid #e0e0e0;
    height: 96vh;
    margin-top: 2vh;
    position: absolute;
    left: 17.9vw;
}



/*Output Area */
#DivOutputField {
	position: relative;
	display: inline-block;
	margin: 0px 0px 0px 0px;
	background-color: white;
	width: 64vw;
	height: 98vh;
	float: left;
    overflow: scroll;
    padding-top: 2vh;
    background: linear-gradient(#EDEFED 0%, white 1%);
}

#borderDivOutputField {
    border-top: 1px solid #e0e0e0;
    width: 58vw;
    margin-left: 3vw;
    top: 2vh;
    position: absolute;
}

#arrowOutput{
	position: relative;
    width: 15vw;
    left: 2vw;
    top: 2vh;
}


@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
#arrowOutput {
   -webkit-animation: flickerAnimation 1.4s infinite;
   -moz-animation: flickerAnimation 1.4s infinite;
   -o-animation: flickerAnimation 1.4s infinite;
    animation: flickerAnimation 1.4s infinite;
}




/*Right Area */
#DivRightField {
	position: relative;
	display: inline-block;
	height: 100vh;
	width: 18vw;
	margin: 0px 0px 0px 0px;
	float: left;
    background: linear-gradient(#EDEFED 0%, white 1%);
}

#borderDivRightField {
	border-right: 1px solid #e0e0e0;
    height: 96vh;
    margin-top: 2vh;
    position: absolute;
}

.alterationButton {
    position: relative;
    width: 10vw;
    top: 20px;
    height: 2.5vh;
    background-color: #118488;
    border-radius: 4px;
    margin: 3vh 0 1vh 10%;
    cursor: pointer;
    padding: 0 0.2vw 0 0.2vw;
    font-size: 1.3vw;
    vertical-align: middle;
    display: inline-block;
    color: white;
}



.alterationContent {
	width: 100%;
	float: left;
	margin-top: 3vh;
}



.Dropdown{
	position: relative;
    left: 4vw;
    width: 8vw;
    margin: 0px 0px 1vh 0px;
    border-radius: 6px;
    /* background-color: #efefef; */
    color: black;
    font-weight: bold;
    font-size: 1.6vw;
    align-content: center;
    text-align: center;
    padding: 0.1vh 0px 0.1vh 0px;
}

.Dropdown:hover{
	cursor: pointer;
	color: #118488;
	/*background-color: #0e767a;*/
}


.BookingDetails{
	position: relative;
	padding-top: 10px;
	margin: 0px 0px 0px 0px;
}

table {
	padding:0px;
	display: inline-block;
	margin-left:38%;
}

tr {
}

table, tr, td {
    border: 1px solid black;
}




#DropdownReservationPricing{
	position: relative;
	left: 20%;
	width: 60%;
	height: 30px;
	margin: 5px 0px 5px 0px;
	border-radius: 10px;
	background-color: #118488;
	border: solid 2px;
	color:white;
}

#DropdownReservationPricing:hover{
	cursor: pointer;
	background-color: #0e767a;
}

#DivPricingDetails {
	width: 70%;
	margin-right: 15%;
	margin-left: 15%;

}

#OverviewNights {
	position: relative;
	width: 100%;
}





/* Header Host / usd / Guest 
.listingPriceDiv {
	display: inline-block;
	width: 15%;
	height: 20px;
	background-color: #118488;	
	border: solid 1px;
	border-radius: 7px;
	text-align: center;
	margin-left: 8%;
	color:white;
}
.listingPriceDiv:hover{
	cursor: pointer;
	background-color: #0e767a;
}

.usdPriceDiv {
	display: inline-block;
	width: 15%;
	height: 20px;
	background-color: #118488;	
	border: solid 1px;
	border-radius: 7px;
	text-align: center;
	margin-left: 19%;
	color:white;
}
.usdPriceDiv:hover{
	cursor: pointer;
	background-color: #0e767a;
}
*/



.guestPriceDiv {
	margin-bottom: 1.3vh !important;
}



.priceSpecifyDiv {
	position: relative;
    display: inline-block;
    width: 7.5vw;
    background-color: #ffffff;
    border-radius: 3px;
    text-align: left;
    margin-left: 8%;
    color: black;
    font-size: 1.2vw;
    left: 8vw;
    margin-bottom: 0.5vh;
    padding-left: 0.4vw;
    border: 0.13vw solid #118488;
}

.priceSpecifyDiv:hover {
	cursor: pointer;
	font-weight: bold;
	background-color: #11848833;
}


.priceSpecifyDivSelected{
	border: 0.15vw solid #8D2748 !important;
}

.expandSpecifyTypePrice{
	display: inline-block;
	position: relative;
	font-size: 1.1vw;
	width: 60%;
}

.expandSpecifyCurrencyPrice {
	display: inline-block;
	position: relative;
	font-size: 1.1vw;
	width: 40%;
}

.issueBar{
	background: linear-gradient(white 1%,#8D2748 10%,#8D2748 90%, white 1%);
    color: white;
    width: 60vw;
    padding: 2vh 2vw 2vh 2vw;
    text-align: center;
    position: relative;
    bottom: 1vh;
    margin-bottom: 0.3vh;
}

.monthDivFirst {
	display: block;
    position: relative;
    width: 10vw;
    background-color: #8D2748;
    border: solid 0.1vw black;
    border-radius: 7px;
    font-size: 1.3vw;
    color: white;
    text-align: center;
    left: 8vw;
    margin: 0 0 2vh 0;
}


.monthDiv {
	display: block;
    position: relative;
    width: 10vw;
    background-color: #8D2748;
    border: solid 0.1vw black;
    border-radius: 7px;
    font-size: 1.3vw;
    color: white;
    text-align: center;
    left: 8vw;
    margin: 2vh 0 4vh 0;
}

/* Content Host / USD / Guest */
.PricingHeaderBarListing {
    display: inline-block;
    width: 40%;
    margin-left: 2%;
    background-color: #118488;
    border: solid 1px;
    border-radius: 4px;
    float: left;
}

.PricingHeaderBarListing:hover {
	cursor: pointer;
	background-color: #0e767a;
}



.PricingHeaderBarUsd {
    display: inline-block;
    width: 40%;
    margin-left: 2%;
    background-color: #118488;
    border: solid 1px;
    border-radius: 4px;
    float: left;
}

.PricingHeaderBarUsd:hover {
	cursor: pointer;
	background-color: #0e767a;
}



.PricingHeaderBarGuest {
    display: inline-block;
    width: 40%;
    margin-left: 2%;
    background-color: #118488;
    border: solid 1px;
    border-radius: 4px;
    float: left;
}

.PricingHeaderBarGuest:hover {
	cursor: pointer;
	background-color: #0e767a;
}

.listingContainer {
	position: relative;
	left: 0%;
	width: 100%;
	display: inline-block;
}

.usdContainer {
	position: relative;
	left: 0%;
	width: 100%;
	display: inline-block;
}

.guestContainer {
	position: relative;
	left: 0%;
	width: 100%;
	display: inline-block;
}


.listingContentDiv{
	position: relative;
	left:0%;
	margin-top:20px;
	display: inline-block;
	top:-10px;
	width: 100%;
}


.usdContentDiv{
	position: relative;
    left: 0%;
    margin-top: 20px;
    display: inline-block;
    top: -10px;
    width: 100%;
}


.guestContentDiv{
	position: relative;
    left: 0%;
    margin-top: 20px;
    display: inline-block;
    top: -10px;
    width: 100%;
}





.expandImg {
	position: relative;
    height: 20px;
    width: 20px;
    left: 6%;
    top: -5px;
    display: block;
}


.whiteSpaceDiv {
	display: inline-block;
    height: 10px;
    width: 100%;
}


/* Header Bars */
.PricingHeaderNightCount {
	font-size: 1.2vw;
	margin-left: 3%;
	display: inline-block;
    width: 15%;
	height: 100%;
	color: #f5efef;
}

.PricingHeaderHostNightPrice{
	display: inline-block;
	margin-left: 3%;
	width: 50%;
	height: 100%;
	text-align: center;
	color: white;
	font-size: 1.4vw;
}

.PricingHeaderUSDNightPrice{
	display: inline-block;
	margin-left: 3%;
	width: 50%;
	height: 100%;
	text-align: center;
	color: white;
	font-size: 1.4vw;
}

.PricingHeaderGuestNightPrice{
	display: inline-block;
	margin-left: 3%;
	width: 50%;
	height: 100%;
	text-align: center;
	color: white;
	font-size: 1.4vw;
}

.PricingHeaderNightDate {
	font-size: 1.2vw;
    text-align: right;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    width: 23%;
    height: 100%;
    right: 0px;
    color: #f5efef;
}


/* Cleaning Fee */
.CleaningFeeType{
	font-size: 1.2vw;
	margin-left: 3%;
	display: inline-block;
    width: 25%;
	height: 100%;
	color: #f5efef;
}

.CleaningFeePrice {
	display: inline-block;
	width: 36%;
	height: 100%;
	text-align: center;
	color: white;
	font-size: 1.4vw;
}


/* Taxes and Airbnb Fee */
.headerFeesType{
	font-size: 1.2vw;
	margin-left: 3%;
	display: inline-block;
    width: 24%;
	height: 100%;
	color: #f5efef;
}

.headerFeesAmount {
	display: inline-block;
	width: 37%;
	height: 100%;
	text-align: center;
	color: white;
	font-size: 1.4vw;
}





.ContentPricesDiv{
	position: relative;
	width:40%;
	margin-left: 5%;
}


/* Daily Pricing */
.divDayHeader {
	border: solid black 1px;
    position: relative;
    width: 100%;
}

.dailyDiv {
	width: 100%;
	margin: 5px 0px 7px 0px;
}
.dailyType {
	display: inline-block;
	width: 70%;
	font-size: 1.2vw;
    font-weight: bold;
}

.dailyListing {
	display: inline-block;
	width: 29%;
	font-size: 1.2vw;
    font-weight: bold;
}


.dailyUSD {
	display: inline-block;
	width: 29%;
	font-size: 1.2vw;
    font-weight: bold;
}

.dailyGuest {
	display: inline-block;
	width: 29%;
	font-size: 1.2vw;
    font-weight: bold;
}


#DailyPricingData {
	position: relative;
	margin: 10px 0px 10px 0px;
	display: block;
}


.discountDiv{
    background-color: #f2f2f2;
    width: 100%;
    position: relative;
    font-size: 1.3vw;
}

.discountType{
	display: inline-block;
	width: 70%;
}

.discountPercentage{
	display: inline-block;
	width: 70%;
	padding-left: 30%;	
	vertical-align: middle;
}


.discountAmountListing{
	display: inline-block;
	width: 29%;
}

.discountAmountUSD{
	display: inline-block;
	width: 29%;
}
 
.discountAmountGuest{
	display: inline-block;
	width: 29%;
}


/* Extra Guest Fee */
.extraGuestDiv {
	width: 100%;
	border: solid black 1px;
	margin: 5px 0px 7px 0px;
	font-size: 1.3vw;
}
.extraGuestType {
	display: inline-block;
	width: 70%;
}

.extraGuestGuest {
	display: inline-block;
	width: 21%;
}

.extraGuestListing {
	display: inline-block;
	width: 29%;
}

.extraGuestUSD {
	display: inline-block;
	width: 21%;
}

.moreInfoExtraGuest{
    position: relative;
    z-index: 1;
    opacity: 0.9;
    background-color: #f2f2f2;
    top: -6px;
    left: 1px;
    font-size: 1.2vw;
}


.descriptionInfoExtraGuest {
	display: inline-block;
	width: 75%;
}

.dataInfoExtraGuest{
display: inline-block;
    width: 22%;
    text-align: right;
    padding-right: 2%;
}

/* Fees & Taxes */
.feeDiv {
	width: 100%;
	border: solid black 1px;
    margin: 0 0 1vh 0;
}

.airbnbFeeListingType {
	display: inline-block;
	width: 70%;
	font-size: 1.4vw;
}

.airbnbFeeListingAmount {
	display: inline-block;
	width: 21%;
	font-size: 1.4vw
}


.taxListingType {
	display: inline-block;
	width: 70%;
	font-size: 1.4vw
}

.taxListingAmount {
	display: inline-block;
	width: 21%;
	font-size: 1.4vw
}

.airbnbFeeGuestType {
	display: inline-block;
	width: 70%;
	font-size: 1.4vw
}

.airbnbFeeGuestAmount {
	display: inline-block;
	width: 21%;
	font-size: 1.4vw
}


.taxGuestType {
	display: inline-block;
	width: 70%;
	font-size: 1.4vw
}

.taxGuestAmount {
	display: inline-block;
	width: 21%;
	font-size: 1.4vw
}




/* Lising Details */
#DropdownListingDetails{
	position: relative;
	left: 20%;
	width: 60%;
	height: 30px;
	margin: 5px 0px 5px 0px;
	border-radius: 10px;
	background-color: #118488;
	border: solid 2px;
	color:white;
}
  

#DropdownListingDetails:hover{
	cursor: pointer;
	background-color: #0e767a;
}

.DivListingDetails {
    width: 80%;
    margin-left: 10%;

}


/* Links Listing */
.linksListingDiv {
    position: relative;
    left: 80%;
    width: 20%;
}


.linkListingDiv{
    text-align: center;
}

.linkListing {
	color: #118488
}

.linkListing:visited {
	color: #118488
}

.typeListingDetails{
	font-size: 0.8em;
	position: relative;
	bottom:0.2vh;
}

.HeaderListingDetails {
	font-weight: bold;
	font-size: 1em;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
	margin: 2px 0px 20px 0px;
}


/* Listing Icons */
.divIconsListing {
	display: inline-block;
	margin-right: 20px;
}


.iconslisting {
	height: 25px;
	width: 25px;
}


.listinIconCount { 
	display: inline-block;
	height: 25px;
	margin:0px 0px 5px 5px;
	text-align: center;
	vertical-align: middle;
 }



.DescriptionListingDetails {
	font-size: 16px;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
	font-weight: normal;
	margin: 20px 0px 30px 0px;
}



.AmenitiesData {
	position: relative;
	width: 100%;
	margin-top:20px;
	margin: 10px 20px 0px 0px;
	display: block;
}

.amenityDiv {
	display: inline-block;
	width: 35%;
	margin-right: 5%;
	border:none;
}

.amenityPic {
    position: relative;
    width: 12%;
    display: inline-block;
}

.amenityImage {
    width: 60%
}

.amenityName {    
	position: relative;
    width: 80%;
    display: inline-block;
    font-size: 1.2vw;
    vertical-align: middle;
    bottom: 4px;
}

.HouseRulesListingDetails {
	margin: 1vh 0 1vh 0;
}






.definitionType {
	font-size: 1.1vw;
    border-bottom: solid #e0e0e0 0.1vh;
    padding: 1vh 0.8vw 1vh 0.8vw
}

.definitionDiv {
	position: relative;
    top: 5vh;
}

#test {
	position: relative;
	top:500px;
	width: 500px;
	height: 300px;
	border: solid black 1px;
	background-color: grey;
	display: block;
}