#howToUse{
	font-size: 14.3px;
}
#DivEntreeField{
     width: 360.5px;
}

#Copyright{
	font-size: 12px;
	width: 203px;
}

#EntreeField {
    font-size: 8.3px;
    width: 400px;
	padding-left: 5px;
    }


.popupbuttons {
    width: 52.7px;
}


#requestFeedbackText {
    font-size: 25px;
}

.Dropdown {
font-size: 19px;
}

#arrowOutput {
    width: 180px;
}

#ButtonEntreeField {
    width: 120px;
    font-size: 10.8px;
    margin-left: 14.4px;
}

#ButtonEntreeFieldClear {
    width: 120px;
    font-size: 10.8px;
    margin-left: 18px;
    }


#errorSnapshotDiv {
    width: 480.7px;
    margin: 3vh 0 0 144.2px;
}

#errorSnapshotHeader {
    font-size: 16px;
}

#errorSnapshotText {
    font-size: 15.3px;
}

#errorSnapshotSteps {
    font-size: 14.4px;
}





.definitionType {
	font-size: 13.2px;
	padding: 1vh 9.6px 1vh 9.6px;
}

.monthDivFirst {
    left: 96px;
     width: 120px;
     font-size: 16px;
 }

.monthDiv {
    left: 96px;
     width: 120px;
     font-size: 16px;
 }

 .PricingHeaderBarListing {
     margin-left: 15.3px;
     width: 307.4px;
 }

 .PricingHeaderBarGuest {
     margin-left: 15.3px;
     width: 307.4px;
 }

 .PricingHeaderBarUsd {
     margin-left: 15.3px;
     width: 307.4px;
 }


 .PricingHeaderNightCount {
     font-size: 14px;
 }


.PricingHeaderHostNightPrice {
     font-size: 17px;
 }


.PricingHeaderUSDNightPrice {
     font-size: 17px;
 }


.PricingHeaderGuestNightPrice {
     font-size: 17px;
 }


 .PricingHeaderNightDate {
     font-size: 14.5px;
 }


.dailyType{
     font-size: 14.4px;
}

.dailyListing {
	font-size: 14.4px;
}

.dailyUSD {
	font-size: 14.4px;
}

.dailyGuest {
	font-size: 14.4px;
}

.discountDiv{
	font-size: 15.5px;
}

.extraGuestDiv {
	font-size: 15.7px;
}

.moreInfoExtraGuest {
     font-size: 14.4px;
 }

.CleaningFeeType{
	font-size: 14.4px;
}

.CleaningFeePrice{
	font-size: 17px;
}

.headerFeesType{
	font-size: 14.4px;	
}

.headerFeesAmount{
	font-size: 17px;
}

.airbnbFeeListingType {
     font-size: 17px;
 }

.taxListingType{
	font-size: 17px;
}

.taxListingAmount{
	font-size: 17px;
}

 .airbnbFeeListingAmount{
     font-size: 17px;
 }
.airbnbFeeGuestType {
     font-size: 17px;
 }

.taxGuestType{
	font-size: 17px;
}

.taxGuestAmount {
	font-size: 17px;
}

 .airbnbFeeGuestAmount{
     font-size: 17px;
 }

 .expandSpecifyTypePrice{
     width: 54px;
    font-size: 13.4px;
    float: left;
 }

 .amenityImage{
 	width:15.4px;
 }

 .amenityName{
 	font-size: 14.4px;
 }

 .priceSpecifyDiv {
 	padding-left: 4.8px;
 	height: 17px;
     left: 8vw;
     width: 90px;
     border: 1.5px solid rgb(17, 132, 136)
 }

.priceSpecifyDivSelected{
	border: 1.5px solid #8D2748 !important;
}

 .expandSpecifyCurrencyPrice{
 	font-size: 13px;
    float: left;
 }

 .alterationButton{
 	width: 120px;
	font-size: 15.7px;
    padding: 0.5vh 2.4px 0.5vh 2.4px;
	margin: 3vh 50% 1vh 10%;;
 }








.BookingDetails{
    font-size: 13.4px;
}


.listingOuterDiv {
    margin-left: 645.6px;
    width: 60px;
}


.listingImage {
    width: 36px;
    position: relative;
    margin-left: 12px;
}


.reservationCode {
    width: 120px;
    margin-left: 324.2px;
     margin-bottom: 1vh;
    background-color: #edefed;
    padding: 0.5vh 5.2px;
}


.guestDivOuter {
    width: 168.1px;
    left: 168.1px;
}


.guestDivIndicate{
    font-size: 16px;
}


.hostDivIndicate{
    font-size: 16px;
}



.divNova {
    width: 83.5px;
}



.divPublic {
    width: 83.5px;
}


.hostDivOuter {
    width: 168.1px;
    margin-left: 287.5px;
    left:0px;
}



.timeframeOuterDiv {
    width: 456.4px;
    margin-left: 156.1px;
}


.timeframeType{
    width: 192.1px;
    margin-right: 6px;
}

.timeframeLine {
    width: 60px
}


.timeframeData{
    width: 192.1px;
    margin-left: 6px;
}



.instantBookRequirement{
    width: 300.3px;
    margin-left: 234.2px;
}

.numberOfGuests{
    width: 144.1px;
    padding: 6px 0;
    margin-left: 234.2px;
}

.numberOfNights{
    width: 144.1px;
    padding: 6px 0;
    margin-left: 12px;
}

.cancellationPolicy {
    width: 300px;
    margin-left: 234.2px;
}



.usdFxRate{
    width: 120px;
    margin-left: 324.3px;
}




.guestFxRateDiv{
    width: 120.1px;
    padding: 6px 0;
    margin-left: 204.2px;
}

.hostFxRateDiv{
    width: 120.1px;
    padding: 6px 0;
    border-radius: 5px;
    margin-left: 120.1px;
}

.arrowLeftImage{
    top: 1.8vh;
    width: 60px;
    margin-left: 283.4px;
}

.arrowRightImage{
    top: 1.8vh;
    width: 60px;
    margin-left: 424px;
}

.fxRateLink{
    width: 300.3px;
    margin-left: 235px;
}

 

.checkinDiv{
    width: 300.3px;
    margin-left: 235px;
} 

.checkoutDiv{
    width: 300.3px;
    margin-left: 235px;
}



.reviewsBlocked{
    width: 300.3px;
    margin-left: 234.2px;
}

.snapshotRaw{    
    font-size: 10.8px;
    padding: 4vh 41.5px;   
}

.locationListing{
    font-size: 9.7px;
}


.linksListingDiv {
    font-size: 15.3px;
}

.typeListingDetails{
    font-size: 12.6px;
    bottom:0.2vh;
}


.HeaderListingDetails {
     font-size: 16px;
}

.listingHeader{
     margin-left: 15.3px;
    padding: 1.6vh 0 0.7vh 0;
}


.DescriptionListingDetails {
     font-size: 14.4px;
}


.amenityName {    
     font-size: 14.4px;
}

.HouseRulesListingDetails {
     font-size: 14.4px;
}

