#howToUse{
	font-size: 14.3px;
}
#DivEntreeField{
     width: 360.5px;
}

#EntreeField {
    font-size: 8.3px;
    width: 400px;
	padding-left: 5px;
    }


#requestFeedbackText {
    font-size: 25px;
}

.Dropdown {
font-size: 19px;
}

#arrowOutput {
    width: 180px;
}

#ButtonEntreeField {
    width: 120px;
    font-size: 10.8px;
    margin-left: 14.4px;
}

#ButtonEntreeFieldClear {
    width: 120px;
    font-size: 10.8px;
    margin-left: 18px;
    }


.definitionType {
	font-size: 13.2px;
	padding: 1vh 9.6px 1vh 9.6px;
}

.monthDivFirst {
	left: 96px;
     width: 120px;
     font-size: 16px;
 }

 .PricingHeaderBarListing {
     margin-left: 15.3px;
     width: 307.4px;
 }

 .PricingHeaderBarGuest {
     margin-left: 15.3px;
     width: 307.4px;
 }

 .PricingHeaderBarUsd {
     margin-left: 15.3px;
     width: 307.4px;
 }


 .PricingHeaderNightCount {
     font-size: 14px;
 }


.PricingHeaderHostNightPrice {
     font-size: 17px;
 }


.PricingHeaderUSDNightPrice {
     font-size: 17px;
 }


.PricingHeaderGuestNightPrice {
     font-size: 17px;
 }


 .PricingHeaderNightDate {
     font-size: 14.5px;
 }


.dailyType{
     font-size: 14.4px;
}

.dailyListing {
	font-size: 14.4px;
}

.dailyUSD {
	font-size: 14.4px;
}

.dailyGuest {
	font-size: 14.4px;
}

.discountDiv{
	font-size: 15.5px;
}

.extraGuestDiv {
	font-size: 15.7px;
}

.moreInfoExtraGuest {
     font-size: 14.4px;
 }

.CleaningFeeType{
	font-size: 14.4px;
}

.CleaningFeePrice{
	font-size: 17px;
}

.headerFeesType{
	font-size: 14.4px;	
}

.headerFeesAmount{
	font-size: 17px;
}

.airbnbFeeListingType {
     font-size: 17px;
 }

.taxListingType{
	font-size: 17px;
}

.taxListingAmount{
	font-size: 17px;
}

 .airbnbFeeListingAmount{
     font-size: 17px;
 }
.airbnbFeeGuestType {
     font-size: 17px;
 }

.taxGuestType{
	font-size: 17px;
}

.taxGuestAmount {
	font-size: 17px;
}

 .airbnbFeeGuestAmount{
     font-size: 17px;
 }

 .expandSpecifyTypePrice{
     width: 54px;
    font-size: 13.4px;
    float: left;
 }

 .amenityImage{
 	width:15.4px;
 }

 .amenityName{
 	font-size: 14.4px;
 }

 .priceSpecifyDiv {
 	padding-left: 4.8px;
 	height: 17px;
     left: 8vw;
     width: 90px;
     border: 1.5px solid rgb(17, 132, 136)
 }

.priceSpecifyDivSelected{
	border: 1.5px solid #8D2748 !important;
}

 .expandSpecifyCurrencyPrice{
 	font-size: 13px;
    float: left;
 }

 .alterationButton{
 	width: 120px;
	font-size: 15.7px;
	margin: 3vh 50% 1vh 10%;;
 }