body {
	margin:0;   
	min-width: 1600px; 

}
#requestFeedback{
	position: absolute;
	width: 40%;
	z-index: 1;
	left:30%;
	top:85px;
	background-color: #333131c9;

}

#requestFeedbackText {
	text-align: center;
	color: #118488;
	font-size: 28px;
}


 

#header{
	width:100%;
	height: 400px;
	overflow: hidden;
	margin:0;
	background-color: #dcd8d7;
}

#HeaderImage {
	object-fit: cover;
	width:100%;
	height: 650px;
	opacity: 0.7;
	resize: both;
	overflow: scroll;

}


#top {
	height: 0px;
	}

#Copyright {
	position: relative;
	border: solid black 1px;
	background-color: white;
	position: relative;
	top: 374px;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 1;
	opacity: 0.8;
}



/*Entree Field */
#entreeFieldContainer {
	position: relative;
	background-color: #EDEFED;
	width: 100%;
	height: 330px;
}

#howToUse {
	position: absolute;
	display: inline-block;
	background-color: inherit;
	padding-left:2%;
	width: 28%;
	height: 100%;
}

#howToUse > h4 {
	display: inline-block;
	margin: 60px 0px 0px 0px;
}

#howToUse > p {
	display: inline-block;
}

#DivEntreeField {
	position: relative;
	display: inline-block;
	margin: 0px 0px 0px 0px;
	background-color:inherit;
	left: 36%;
	width: 30%;
	overflow: hidden;
}

#EntreeField {
	margin-left: 5%;
	margin-top: 50px;
	width: 80%;
	border-radius: 10px;
	height: 50px;
	min-height: 50px;
	max-height: 200px;
	overflow: hidden;
	max-width: 80%;
	min-width: 40%;
	overflow-y: scroll;
}

#EntreeField:focus{
	outline:none;
}


::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}



#ButtonEntreeField {
	border-radius: 5px;
	width: 30%;
	margin-left: 32%;
	margin-top: 15px;
	background-color: #118488;
	border:solid black 0.5px;
	height: 30px;
	display: block;
	outline:none;
	color: white;

}

#ButtonEntreeField:hover {
	background-color: #0e767a;
}
#buttonsDiv{
	display: inline-block;
	position: absolute;
	left: 70%;
	width: 29%;
	height: 100%;
	background-color: inherit;
}

.popupbuttons {
	height: 60px;
	width: 60px;
	margin-top:50px;
	margin-left:50px;
	position: relative;
	display: block;
	opacity: 0.7;
}

.popupbuttons:hover {
	cursor: pointer;
}

.contactButtons {
	top:20%;
}


.contactMethod {
	display: block;
	height: 50px;
	width: 50px;
	margin-left:10%;
	margin-top:10%;
	cursor: pointer;
}


/* Pop-up Div */
.popupDiv {
	z-index: 2;
	position: absolute;
	top:0%;
	height: 100%;
	width: 69%;
	display: none;
}


#contactDiv {
	left: 35%;
	top:30%;
}

/*Output Area */
#DivOutputField {
	position: relative;
	margin: 0px 0px 0px 0px;
	background-color: white;
	width: 100%;
	height: 130px;

}

.alterationButton {
	position:relative;
	width:10%;
	margin-left:45%;
	top:20px;
	height: 30px;
	background-color: #118488;
	border: solid 2px;
	border-radius: 10px;
	margin-bottom: 30px;
	cursor: pointer;
}

.alterationButton > h4 {
	position: relative;
	bottom:50%;
	text-align: center;
}

.alterationContent {
	width: 80%;
	margin-left:10%;
}
.Dropdown > h4 {
	position: relative;
	bottom:50%;
	text-align: center;
}



.Dropdown{
	position: relative;
	left: 20%;
	width: 60%;
	height: 30px;
	margin: 0px 0px 2px 0px;
	border-radius: 10px;
	background-color: #118488;
	border: solid 2px;
	color:white;
}

.Dropdown:hover{
	cursor: pointer;
	background-color: #0e767a;
}


.BookingDetails{
	position: relative;
	width: 70%;
	margin-left: 15%;
	padding-top: 10px;
	margin: 0px 0px 0px 0px;
}

table {
	padding:0px;
	display: inline-block;
	margin-left:50%;
}

tr {
}

table, tr, td {
    border: 1px solid black;
}




#DropdownReservationPricing{
	position: relative;
	left: 20%;
	width: 60%;
	height: 30px;
	margin: 5px 0px 5px 0px;
	border-radius: 10px;
	background-color: #118488;
	border: solid 2px;
	color:white;
}

#DropdownReservationPricing:hover{
	cursor: pointer;
	background-color: #0e767a;
}

#DivPricingDetails {
	width: 70%;
	margin-right: 15%;
	margin-left: 15%;

}

#OverviewNights {
	position: relative;
	width: 100%;
}





/* Header Host / usd / Guest */
.listingPriceDiv {
	display: inline-block;
	width: 15%;
	height: 20px;
	background-color: #118488;	
	border: solid 1px;
	border-radius: 7px;
	text-align: center;
	margin-left: 8%;
	color:white;
}
.listingPriceDiv:hover{
	cursor: pointer;
	background-color: #0e767a;
}

.usdPriceDiv {
	display: inline-block;
	width: 15%;
	height: 20px;
	background-color: #118488;	
	border: solid 1px;
	border-radius: 7px;
	text-align: center;
	margin-left: 19%;
	color:white;
}
.usdPriceDiv:hover{
	cursor: pointer;
	background-color: #0e767a;
}




.guestPriceDiv {
	display: inline-block;
	width: 15%;
	height: 20px;
	background-color: #118488;	
	border: solid 1px;
	border-radius: 7px;
	text-align: center;
	margin-left: 19%;
	color:white;
}
.guestPriceDiv:hover{
	cursor: pointer;
	background-color: #0e767a;
}






/* Content Host / USD / Guest */
.PricingHeaderBarListing {
	display: inline-block;
	width: 90%;
	margin-right:5%;
	margin-left:5%;
	background-color: #118488;
	border: solid 1px;
	border-radius: 7px;
	height: 20px;
}

.PricingHeaderBarListing:hover {
	cursor: pointer;
	background-color: #0e767a;
}



.PricingHeaderBarUsd {
	display: inline-block;
	width: 90%;
	margin-right:5%;
	margin-left:5%;
	background-color: #118488;
	border: solid 1px;
	border-radius: 7px;
	height: 20px;
}

.PricingHeaderBarUsd:hover {
	cursor: pointer;
	background-color: #0e767a;
}



.PricingHeaderBarGuest {
	display: inline-block;
	width: 90%;
	margin-right:5%;
	margin-left:5%;
	background-color: #118488;
	border: solid 1px;
	border-radius: 7px;
	height: 20px;
}

.PricingHeaderBarGuest:hover {
	cursor: pointer;
	background-color: #0e767a;
}

.listingContainer {
	position: relative;
	left: 0%;
	width: 32%;
	display: inline-block;
}

.usdContainer {
	position: relative;
	width: 32%;
	display: inline-block;	
}

.guestContainer {
	position: relative;
	width: 32%;
	display: inline-block;
}


.listingContentDiv{
	position: relative;
	left:0%;
	margin-top:20px;
	display: inline-grid;
	top:-10px;
	width: 100%;
}


.usdContentDiv{
	position: relative;
	margin-top:20px;
	display: inline-grid;
	top:-10px;
	width: 100%;
}


.guestContentDiv{
	position: relative;
	margin-top:20px;
	display: inline-grid;
	top:-10px;
	width: 100%;
}





.expandImg {
	position: relative;
	height: 20px;
	width: 20px;
	left:6%;
	top:-5px;
	display: inline-block;
}


.whiteSpaceDiv {
	display: block;
	height: 10px;
}


/* Header Bars */
.PricingHeaderNightCount {
	font-size: 12px;
	margin-left: 3%;
	display: inline-block;
    width: 15%;
	height: 100%;
	color: #f5efef;
}

.PricingHeaderHostNightPrice{
	display: inline-block;
	margin-left: 3%;
	width: 50%;
	height: 100%;
	text-align: center;
	color: white;
}

.PricingHeaderUSDNightPrice{
	display: inline-block;
	margin-left: 3%;
	width: 50%;
	height: 100%;
	text-align: center;
	color: white;
}

.PricingHeaderGuestNightPrice{
	display: inline-block;
	margin-left: 3%;
	width: 50%;
	height: 100%;
	text-align: center;
	color: white;
}

.PricingHeaderNightDate {
	font-size: 12px;
    text-align: right;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    width: 23%;
    height: 100%;
    right: 0px;
    color: #f5efef;
}


/* Cleaning Fee */
.CleaningFeeType{
	font-size: 12px;
	margin-left: 3%;
	display: inline-block;
    width: 25%;
	height: 100%;
	color: #f5efef;
}

.CleaningFeePrice {
	display: inline-block;
	width: 36%;
	height: 100%;
	text-align: center;
	color: white;
}


/* Taxes and Airbnb Fee */
.headerFeesType{
	font-size: 12px;
	margin-left: 3%;
	display: inline-block;
    width: 24%;
	height: 100%;
	color: #f5efef;
}

.headerFeesAmount {
	display: inline-block;
	width: 37%;
	height: 100%;
	text-align: center;
	color: white;
}





.ContentPricesDiv{
	position: relative;
	width:90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10px;
}


/* Daily Pricing */
.divDayHeader {
	border: solid black 1px;
    top: 5px;
    position: relative;
    width: 100%;
    margin: 0px 0px 9px 0px;
}

.dailyDiv {
	width: 100%;
	margin: 5px 0px 7px 0px;
}
.dailyType {
	display: inline-block;
	width: 70%;
}

.dailyListing {
	display: inline-block;
	width: 29%;
}


.dailyUSD {
	display: inline-block;
	width: 29%;
}

.dailyGuest {
	display: inline-block;
	width: 29%;
}


#DailyPricingData {
	position: relative;
	margin: 10px 0px 10px 0px;
	display: block;
}


.discountDiv{
    background-color: #f2f2f2;
    width: 100%;
    position: relative;
}

.discountType{
	display: inline-block;
	width: 70%;
}

.discountPercentage{
	display: inline-block;
	width: 70%;
	padding-left: 30%;	
	vertical-align: middle;
}


.discountAmountListing{
	display: inline-block;
	width: 29%;
}

.discountAmountUSD{
	display: inline-block;
	width: 29%;
}
 
.discountAmountGuest{
	display: inline-block;
	width: 29%;
}


/* Extra Guest Fee */
.extraGuestDiv {
	width: 100%;
	border: solid black 1px;
	margin: 5px 0px 7px 0px;
}
.extraGuestType {
	display: inline-block;
	width: 70%;
}

.extraGuestGuest {
	display: inline-block;
	width: 21%;
}

.extraGuestListing {
	display: inline-block;
	width: 29%;
}

.extraGuestUSD {
	display: inline-block;
	width: 21%;
}

.moreInfoExtraGuest{
    position: relative;
    z-index: 1;
    opacity: 0.9;
    background-color: #f2f2f2;
    top: -6px;
    left: 1px;
}


.descriptionInfoExtraGuest {
	display: inline-block;
	width: 75%;
}

.dataInfoExtraGuest{
display: inline-block;
    width: 22%;
    text-align: right;
    padding-right: 2%;
}
/* Fees & Taxes */
.feeDiv {
	width: 100%;
	border: solid black 1px;
	margin: 5px 0px 7px 0px;
}

.airbnbFeeListingType {
	display: inline-block;
	width: 70%;
}

.airbnbFeeListingAmount {
	display: inline-block;
	width: 21%;
}


.taxListingType {
	display: inline-block;
	width: 70%;
}

.taxListingAmount {
	display: inline-block;
	width: 21%;
}

.airbnbFeeGuestType {
	display: inline-block;
	width: 70%;
}

.airbnbFeeGuestAmount {
	display: inline-block;
	width: 21%;
}


.taxGuestType {
	display: inline-block;
	width: 70%;
}

.taxGuestAmount {
	display: inline-block;
	width: 21%;
}




/* Lising Details */
#DropdownListingDetails{
	position: relative;
	left: 20%;
	width: 60%;
	height: 30px;
	margin: 5px 0px 5px 0px;
	border-radius: 10px;
	background-color: #118488;
	border: solid 2px;
	color:white;
}
  

#DropdownListingDetails:hover{
	cursor: pointer;
	background-color: #0e767a;
}

.DivListingDetails {
	width: 50%;
	margin-left: 25%;
	margin-left: 25%;

}


/* Links Listing */
.linksListingDiv {
    position: relative;
	left: 50%;
}


.linkListingDiv{
    text-align: center;
}

.linkListing {
	color: #118488
}

.linkListing:visited {
	color: #118488
}



.HeaderListingDetails {
	font-weight: bold;
	font-size: 1em;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
	margin: 20px 0px 20px 0px;
}


/* Listing Icons */
.divIconsListing {
	display: inline-block;
	margin-right: 20px;
}


.iconslisting {
	height: 25px;
	width: 25px;
}


.listinIconCount { 
	display: inline-block;
	height: 25px;
	margin:0px 0px 5px 5px;
	text-align: center;
	vertical-align: middle;
 }



.DescriptionListingDetails {
	font-size: 16px;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
	font-weight: normal;
	margin: 20px 0px 30px 0px;
}



.AmenitiesData {
	position: relative;
	width: 100%;
	margin-top:20px;
	margin: 10px 20px 0px 0px;
	display: block;
}

.amenityName {
	display: inline-block;
	width: 35%;
	margin-right: 5%;
	border:none;
}

.HouseRulesListingDetails {
	margin: 10px 0px 40px 0px;
}








#test {
	position: relative;
	top:500px;
	width: 500px;
	height: 300px;
	border: solid black 1px;
	background-color: grey;
	display: block;
}