body {
	margin:0;   
	min-width: 700px; 

}

#header{
	width:100%;
	height: 400px;
	overflow: hidden;
	margin:0;
	background-color: grey;
}

#HeaderImage {
	object-fit: cover;
	width:100%;
	height: 740px;
	opacity: 0.7;
	resize: both;
	overflow: scroll;
}


#top {
	height: 0px;
	}

#Copyright {
	position: relative;
	border: solid black 1px;
	background-color: white;
	position: relative;
	top: 374px;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}


/*Entree Field */
#DivEntreeField {
	margin: 0px 0px 0px 0px;
	background-color: #EDEFED;
	width: 100%;
	height: 330px;
	overflow: hidden;
}

#EntreeField {
	margin-left: 10%;
	margin-top: 50px;
	width: 80%;
	border-radius: 10px;
	height: 50px;
	max-height: 200px;
	overflow: hidden;
	max-width: 80%;
	min-width: 20%;
	overflow-y: scroll;
}

#ButtonEntreeField {
	border-radius: 5px;
	width: 10%;
	margin-left: 45%;
	margin-top: 15px;
	background-color: #118488;
	border:solid black 0.5px;
	height: 30px;
	display: block;

}



/*Output Area */

#DivOutputField {
	position: relative;
	margin: 0px 0px 0px 0px;
	background-color: white;
	width: 100%;
	height: 130px;

}


h4 {
	position: relative;
	bottom:50%;
	text-align: center;
}

#DropdownReservationDetails{
	position: relative;
	left: 20%;
	width: 60%;
	height: 30px;
	margin: 5px 0px 5px 0px;
	border-radius: 10px;
	background-color: #80bfff;
	border: solid darkblue 2px;
	display: none;
}

#DropdownReservationDetails:hover{
	cursor: pointer;
	background-color: #66b3ff;
}


#BookingDetails{
	position: relative;
	width: 35%;
	left: 15%;
	padding-top: 10px;
	margin: 0px 0px 0px 0px;
	border: solid yellow 1px;
}

table {
	width:100%;
	padding:0px;
	display: block;
}

tr {
}

table, tr, td {
    border: 1px solid black;
}

.NameTable {
	width: 1%;
}

.DataTable {
	width: 1%;
}



#DropdownReservationPricing{
	position: relative;
	left: 20%;
	width: 60%;
	height: 30px;
	margin: 5px 0px 5px 0px;
	border-radius: 10px;
	background-color: #80bfff;
	border: solid darkblue 2px;
	display: none;
}

#DropdownReservationPricing:hover{
	cursor: pointer;
	background-color: #66b3ff;
}


#DailyPricingData {
	position: relative;
	width: 35%;
	left: 15%;
	border: solid black 1px;
	margin: 10px 0px 10px 0px;
	display: block;


}



#DropdownListingDetails{
	position: relative;
	left: 20%;
	width: 60%;
	height: 30px;
	margin: 5px 0px 5px 0px;
	border-radius: 10px;
	background-color: #80bfff;
	border: solid darkblue 2px;
	display: none;
}


#DropdownListingDetails:hover{
	cursor: pointer;
	background-color: #66b3ff;
}

#DivListingDetails {
	border:solid black 1px;
	width: 50%;
	margin-left: 25%;
	margin-left: 25%;

}

#HeaderListingDetails {
	font-weight: bold;
	font-size: 1em;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
	margin: 20px 0px 20px 0px;
}


/* Listing Icons */
.divIconsListing {
	display: inline-block;
	margin-right: 20px;
}


.iconslisting {
	height: 25px;
	width: 25px;
}


.listinIconCount { 
	display: inline-block;
	height: 25px;
	margin:0px 0px 5px 5px;
	text-align: center;
	vertical-align: middle;
 }



#DescriptionListingDetails {
	font-size: 16px;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
	font-weight: normal;
	margin: 10px 0px 10px 0px;
}



#AmenitiesData {
	position: relative;
	width: 35%;
	left: 15%;
	top:20px;
	border: solid black 1px;
	margin: 0px 0px 0px 0px;
	display: block;
}


#test {
	position: relative;
	top:500px;
	width: 500px;
	height: 300px;
	border: solid black 1px;
	background-color: grey;
	display: block;
}